.detail_services,
.detail_contacts {
    ion-col {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}
.icon_container {
    display: flex;
    flex-direction: column;
    text-align: center;

    ion-icon {
        width: 32px;
        height: 32px;
        align-self: center;
    }
    ion-label {
        align-self: center;
    }
}

.detail_lang_flag {
    width: 32px;
}
