<ion-header *transloco="let t">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>{{t('detail.back')}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
    <ion-grid>
        <ion-row class="detail_intestazione">
            <ion-col>
                <ion-row>
                    <h3>{{struttura.denominazione}}</h3>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{struttura.tipologia}} - {{struttura.nuovaClassificazioneLR11}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        {{struttura.indirizzo}} {{struttura.numeroCivico}}, {{struttura.comune}}, {{struttura.provincia}}
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row class="detail_services">
            <ion-col>
                <div>
                    <ion-icon src="../../assets/icons/ISO_wheel_chair.svg"></ion-icon>
                    <ion-label>{{t('detail.accessibility')}}</ion-label>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-icon src="../../assets/icons/playground.svg"></ion-icon>
                    <ion-label>{{t('detail.playground')}}</ion-label>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-icon src="../../assets/icons/pets.svg"></ion-icon>
                    <ion-label>{{t('detail.pets')}}</ion-label>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="detail_contacts_header">
            <ion-col>
                <h5>{{t('detail.contatti')}}</h5>
            </ion-col>
        </ion-row>
        <ion-row class="detail_contacts">
            <ion-col>
                <div>
                    <ion-icon name="globe-outline"></ion-icon>
                    <ion-label>{{t('detail.web')}}</ion-label>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-icon name="at-outline"></ion-icon>
                    <ion-label>{{t('detail.mail')}}</ion-label>
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-icon name="call-outline"></ion-icon>
                    <ion-label>{{t('detail.phone')}}</ion-label>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="detail_insights_header">
            <ion-col>
                <h5>{{t('detail.dettagli')}}</h5>
            </ion-col>
        </ion-row>
        <ion-row class="detail_insights">
            <ion-col>
                <ion-row>
                    <ion-col>{{t('detail.tipologia')}}</ion-col>
                    <ion-col>{{struttura.tipologia}}</ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>{{t('detail.classificazione')}}</ion-col>
                    <ion-col>{{struttura.nuovaClassificazioneLR11}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.aperto')}}</ion-col>
                    <ion-col>{{struttura.chiusuraTemporanea}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.accessoDisabili')}}</ion-col>
                    <ion-col>{{struttura.accessoDisabili | boolToWord}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.giochiBimbi')}}</ion-col>
                    <ion-col>{{struttura.giochiBimbi}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.animaliAmmessi')}}</ion-col>
                    <ion-col>{{struttura.animaliAmmessi}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.posizione')}}</ion-col>
                    <ion-col>{{struttura.posizione}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.trasporti')}}</ion-col>
                    <ion-col>{{struttura.trasporti}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.servizi')}}</ion-col>
                    <ion-col>{{struttura.servizi}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.wellness')}}</ion-col>
                    <ion-col>{{struttura.wellness}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.lingue')}}</ion-col>
                    <ion-col>{{struttura.lingue}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>{{t('detail.dataUltimaModifica')}}</ion-col>
                    <ion-col>{{struttura.dataUltimaModifica}}</ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>