<ion-header>
  <ion-toolbar>
    <ion-title>advanced-search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-accordion-group [multiple]="true">
        <ion-accordion *ngFor="let filter of filters ">
            <ion-item slot="header">
                <ion-label>{{filter.property}}</ion-label>
            </ion-item>
            <div class="" slot="content">
                
                <!-- [ngClass]="{'chip_selected': tipologieSelezionate.includes(tipologia)}"  -->
                <ion-chip mode="md" class="filter_chip" (click)="onChipClick(filter)"
                    [attr.data-filterProperty]="filterValue.replaceAll(' ', '_').replaceAll('\'','')"
                    *ngFor="let filterValue of filter.value">
                    <ion-label>{{filterValue}}</ion-label>
                </ion-chip>
            </div>
        </ion-accordion>
    </ion-accordion-group>

</ion-content>
