.filter_chip {
    width: auto;
    text-align: center;
    flex-grow: 3;
    display: inline-table;
    white-space: nowrap;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: var(--ion-color-medium);

    &.chip_selected {
        background-color: #d0d0d0; //var(--ion-color-light-tint);
        // border-color: var(--ion-color-light-tint);
    }
    &[data-filterPropertyValue="AFFITTACAMERE"] {
        &.chip_selected {
            background-color: var(--tipologia-background-affittacamere);
        }
        border-color: var(--tipologia-background-affittacamere);
    }
    &[data-filterPropertyValue="AGRITURISMO"] {
        &.chip_selected {
            background-color: var(--tipologia-background-agriturismo);
            color: var(--ion-color-dark);
        }
        border-color: var(--tipologia-background-agriturismo);
    }
    &[data-filterPropertyValue="ALBERGO"] {
        &.chip_selected {
            background-color: var(--tipologia-background-albergo);
        }
        border-color: var(--tipologia-background-albergo);
    }
    &[data-filterPropertyValue="ALTRA_RICETTIVITA"] {
        &.chip_selected {
            background-color: var(--tipologia-background-altra_ricettivita);
        }
        border-color: var(--tipologia-background-altra_ricettivita);
    }
    &[data-filterPropertyValue="APPARTAMENTO"] {
        &.chip_selected {
            background-color: var(--tipologia-background-appartamento);
        }
        border-color: var(--tipologia-background-appartamento);
    }
    &[data-filterPropertyValue="BED_AND_BREAKFAST"] {
        &.chip_selected {
            background-color: var(--tipologia-background-bed_and_breakfast);
        }
        border-color: var(--tipologia-background-bed_and_breakfast);
    }
    &[data-filterPropertyValue="CAMPEGGIO"] {
        &.chip_selected {
            background-color: var(--tipologia-background-campeggio);
        }
        border-color: var(--tipologia-background-campeggio);
    }
    &[data-filterPropertyValue="COUNTRY_HOUSE"] {
        &.chip_selected {
            background-color: var(--tipologia-background-country_house);
        }
        border-color: var(--tipologia-background-country_house);
    }
    &[data-filterPropertyValue="RESIDENCE"] {
        &.chip_selected {
            background-color: var(--tipologia-background-residence);
        }
        border-color: var(--tipologia-background-residence);
    }
}

.advanced_search {
    background-color: white;
    opacity: 1;
    border-width: 0;
    display: inline-flex;
}
