<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <div id="container">
        <div class="search_container" #searchContainer>
            <ng-select class="search-comuni-select" [items]="comuni" bindLabel="descProgrammaOperativo" [addTag]="false"
                [multiple]="false" [searchFn]="searchComune" [hideSelected]="false" [minTermLength]="2"
                [virtualScroll]="true" (change)="onComuneChange($event)" [placeholder]="'home.comune'|transloco"
                [typeToSearchText]="" [(ngModel)]="comuneSelezionato">

            </ng-select>
            <div #tipologieFilter class="horizontal_scroll_flex">
                <ion-chip mode="md" class="tipologia_chip" (click)="onChipClick(tipologia)"
                    [attr.data-tipologia]="tipologia.replaceAll(' ', '_').replaceAll('\'','')"
                    [ngClass]="{'chip_selected': tipologieSelezionate.includes(tipologia)}"
                    *ngFor="let tipologia of tipologie">
                    <ion-label>{{tipologia}}</ion-label>
                </ion-chip>
            </div>
        </div>
        <div id="mapContainer">
            <mgl-map #homeMap [attributionControl]="false" [style]="mapStyle" [zoom]="[9]" (mapLoad)="mapLoaded($event)"
                (zoomEnd)="mapZoomEnd($event)" (mapDragEnd)="onDragEnd($event)" [center]="[12.5510662,45.6331619]">
                <mgl-geojson-source id="strutture" [data]="struttureGeoJson" promoteId="codiceIdentificativo">
                </mgl-geojson-source>

                <mgl-layer [minzoom]="10" id="strutture-label-layer" type="symbol" source="strutture" [layout]="struttureLabelLayout"
                    [paint]="labelPaint">
                </mgl-layer>

                <mgl-layer  id="strutture-layer" type="circle" source="strutture"
                    [paint]="struttureCirclePaint">
                </mgl-layer>
            </mgl-map>
        </div>
        <!-- <div id="slideContainer"> -->
        <swiper #swiperStrutture [slidesPerView]="1.5" [ngClass]="{'visible_slides': strutture.length}"
            [centeredSlides]="true" [spaceBetween]="10" [virtual]="true">
            <ng-container *ngFor="let struttura of strutture;">
                <ng-template class="struttura_slide" swiperSlide *transloco="let t">
                    <ion-grid class="ion-no-margin">
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <a [routerLink]="['/','detail',struttura.codiceIdentificativo]">
                                    <h5 class="struttura_slide_titolo">{{struttura.denominazione}}</h5>
                                </a>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <div class="struttura_slide_tipologia">{{struttura.tipologia}}</div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <span class="struttura_slide_indirizzo">{{struttura.indirizzo}},
                                    {{struttura.comune}}</span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-no-margin">
                            <ion-col class="ion-no-margin">
                                <span
                                    class="struttura_slide_classificazione">{{struttura.nuovaClassificazioneLR11}}</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-template>
            </ng-container>
        </swiper>

        <!-- </div> -->
    </div>
</ion-content>