#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
}

#mapContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}

mgl-map,
.maplibregl-canvas {
    height: 100%;
    width: 100%;
}
.maplibregl-canvas-container {
    height: 100%;
}

.swiper {
    height: 25vh;
    top: 75vh;
    ::ng-deep .swiper-slide {
        background-color: white;
        border-radius: 14px;
        color: var(--ionic-primary, black);
    }

    //  ::ng-deep .swiper-pagination {
    //     position: relative;
    // }
}

.search_container {
    z-index: 100;
    position: absolute;
    margin: auto;
    width: 100%;
}

.struttura_slide {
    width: 75vw;
}

.cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
}
.strutture_lista {
    top: 75vh;
    height: 25vh;
}
