<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
            <mgl-map #homeMap [style]="'https://api.maptiler.com/maps/ed45e12d-fb19-4c05-8267-649a021f5862/style.json?key=Qq3PqdIVS97ZZ0IMbrEs'" [zoom]="[3]" 
                (mapLoad)="maploaded($event)">
                <mgl-geojson-source id="strutture" [data]="'https://api.maptiler.com/data/12345a46-60dd-4c39-85a6-0679d24855e9/features.json?key=Qq3PqdIVS97ZZ0IMbrEs'">
                    <mgl-feature 
                        *ngFor="let feature of featureCollection.features; index as i"  [id]="i" [geometry]="feature.geometry"></mgl-feature>
                </mgl-geojson-source>
                <mgl-layer id="strutture-layer" type="circle" source="strutture"></mgl-layer>
            </mgl-map>
    </div>
</ion-content>