<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <div id="container">
        <div class="search_container">
            <ion-searchbar debounce="500" type="text" (ionChange)="onSearchItemChange($event)"></ion-searchbar>
            <ion-list *ngIf="comuniCandidati.length">
                <ion-item *ngFor="let comune of comuniCandidati">{{ comune }}</ion-item>
            </ion-list>
        </div>
        <div id="mapContainer">
            <mgl-map #homeMap [attributionControl]="false" [style]="'./assets/map-styles/style-dark.json'" [zoom]="[9]"
                (mapLoad)="mapLoaded($event)" (zoomEnd)="mapZoomEnd($event)" [center]="[12.5510662,45.6331619]">
                <mgl-geojson-source id="strutture" [data]="'./assets/data/strutture.json'">
                </mgl-geojson-source>

                <mgl-layer id="strutture-label-layer" type="symbol" source="strutture" [layout]="struttureLabelLayout">
                </mgl-layer>

                <mgl-layer id="strutture-layer" type="circle" source="strutture"></mgl-layer>
            </mgl-map>
        </div>

        <cdk-virtual-scroll-viewport #listaRisultati itemSize="282" minBufferPx="2000" maxBufferPx="2000"
            class="strutture_lista" *transloco="let t" orientation="horizontal">
            <ion-item *cdkVirtualFor="let struttura of strutture;" class="struttura_slide" lines="none">
                <ion-grid class="ion-no-margin">
                    <ion-row class="ion-no-margin">
                        <ion-col class="ion-no-margin">
                            <ion-grid class="ion-no-margin">
                                <ion-row class="ion-no-margin">
                                    <ion-col class="ion-no-margin">
                                        <h5 class="struttura_slide_titolo ion-no-margin">{{struttura.denominazione}}
                                        </h5>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-no-margin">
                                    <ion-col class="ion-no-margin">
                                        <div class="struttura_slide_indirizzo ion-no-margin">{{struttura.indirizzo}}
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-no-margin">
                                    <ion-col>
                                        <div class="struttura_slide_comune ion-no-margin">{{struttura.comune}}</div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-no-margin">
                                    <ion-col class="ion-no-margin">
                                        <div class="struttura_slide_tipologia ion-no-margin">{{struttura.tipologia}}
                                        </div>
                                    </ion-col>
                                </ion-row>

                            </ion-grid>
                        </ion-col>
                        <ion-col size="2" class="ion-no-margin struttura_dettagli_link">
                            <a>{{t('struttura.dettagli_link')}}</a>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>
        </cdk-virtual-scroll-viewport>
        
    </div>
</ion-content>